# This is a comment. You should use comments to describe
# parts of your configuration.
input {
  file {
    path => "/usr/share/logstash/pipeline/cars.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  csv {
    separator => ","
    columns => ["manufacturer_name","model_name","transmission","color","odometer_value","year_produced","engine_fuel","engine_has_gas","engine_type","engine_capacity","body_type","has_warranty","state","drivetrain","price_usd","is_exchangeable","location_region","number_of_photos","up_counter","feature_0","feature_1","feature_2","feature_3","feature_4","feature_5","feature_6","feature_7","feature_8","feature_9","duration_listed"]
  }
}

output {
  elasticsearch {
     hosts => "elasticsearch:9200"
     index => "vehicals"
  }
stdout {}
}